<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Super To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>

    <form action="/" method="post">
        {% csrf_token %}
        <input type="text" name="new_item" id="new_item" placeholder="Input New Item">
    </form>

    <div id="to-do-list">
        {% for item in to_do_list %}
        <li>{{ item }}</li>
        {% endfor %}
    </div>
    
</body>
</html>
